<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/analyze.css" type="text/css">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

    <title>Image Analyze Page</title>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script>
        function setDisplay(){
            let value = $(':radio[name="country"]:checked').val();

            if(value == "korea"){
                $('#con1').css('display','block');
                $('#con2').css('display','none');
                $('#con3').css('display','none');
                return false;
            }
            if(value == "america"){
                $('#con1').css('display','none');
                $('#con2').css('display','block');
                $('#con3').css('display','none');
                return false;
            }
            if(value == "japan"){
                $('#con1').css('display','none');
                $('#con2').css('display','none');
                $('#con3').css('display','block');
                return false;
            }
        }
    </script>
</head>

<body>
<!-- 전체 컨테이너 wrapper -->
<div class="analyze-wrapper">

    <!-- 상단 이미지 wrapper -->
    <div class="image-wrapper">
        <p th:text="${imageId}"></p>
        <h2> 해당 라벨에 있는 정보를 입력하세요. </h2>
        <img class="img-of-label" th:src="${imageURL}"/>
    </div>

    <!--옷 재질 및 함유량 추가-->
    <form th:method="post" th:action="@{/admin/analyze/{imageId}(imageId=${imageId})}">

        <!--나라선택-->
        <input type="radio" name="country" value="korea" onchange="setDisplay()" checked="checked">한국
        <input type="radio" name="country" value="america" onchange="setDisplay()">미국
        <input type="radio" name="country" value="japan" onchange="setDisplay()">일본

        <!--나라별 세탁정보 선택화면-->
        <!--한국-->
        <div class="category_korea" id="con1">
            <!-- 물세탁 카테고리 -->
            <div class="cate">
                <h3>1. 물세탁</h3>
                <ul>
                    <li>
                        <label><input type="checkbox" class="waterwash" name="waterType" value="HAND_KR"/>손세탁가능<br>
                            <img src="/img/waterwash/handwash.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="waterwash" name="waterType" value="FORBIDDEN_KR"/>물세탁불가<br>
                            <img src="/img/waterwash/nohandwash.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="waterwash" name="waterType" value="WASHER_30_NEUTRAL_KR"/>세탁기 약 30도 중성<br>
                            <img src="/img/waterwash/machine_30.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="waterwash" name="waterType" value="WASHER_ABOUT_40_KR"/>세탁기 약 40<br>
                            <img src="/img/waterwash/machine_40.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="waterwash" name="waterType" value="WASHER_40_KR"/>세탁기 40도<br>
                            <img src="/img/waterwash/machine40.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="waterwash" name="waterType" value="WASHER_60_KR"/>세탁기 60도<br>
                            <img src="/img/waterwash/machine60.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="waterwash" name="waterType" value="WASHER_90_KR"/>세탁기 95도<br>
                            <img src="/img/waterwash/machine95.png">
                        </label>
                    </li>
                </ul>
            </div>

            <!-- 표백 카테고리 -->
            <div class="cate">
                <h3>2. 표백</h3>
                <ul>
                    <li>
                        <label><input type="checkbox" class="bleach" name="bleachType" value="FORBIDDEN_KR"/>염소, 산소, 표백 불가<br>
                            <img src="/img/bleach/allno.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="bleach" name="bleachType" value="CL_KR"/>산소, 표백 불가<br>
                            <img src="/img/bleach/spno.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="bleach" name="bleachType" value="O2_KR"/>염소, 표백 불가<br>
                            <img src="/img/bleach/ypno.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="bleach" name="bleachType" value="ALL_KR"/>염소, 산소, 표백 가능<br>
                            <img src="/img/bleach/ysp.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="bleach" name="bleachType" value="O2_BLEACH_KR"/>산소, 표백 가능<br>
                            <img src="/img/bleach/sp.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="bleach" name="bleachType" value="CL_BLEACH_KR"/>염소, 표백 가능<br>
                            <img src="/img/bleach/yp.png">
                        </label>
                    </li>

                </ul>
            </div>
            <!-- 다림질 카테고리 -->
            <div class="cate">
                <h3>3. 다림질</h3>
                <ul>
                    <li>
                        <label><input type="checkbox" class="ironing" name="ironingType" value="FORBIDDEN_KR"/>다림질불가<br>
                            <img src="/img/ironing/no.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="ironing" name="ironingType" value="IRONING_80_120_KR"/>80~120<br>
                            <img src="/img/ironing/to80120.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="ironing" name="ironingType" value="IRONING_80_120_FABRIC_KR"/>80~120(천깔고)<br>
                            <img src="/img/ironing/withcloth80120.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="ironing" name="ironingType" value="IRONING_140_160_KR"/>140~160<br>
                            <img src="/img/ironing/to140160.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="ironing" name="ironingType" value="IRONING_140_160_FABRIC_KR"/>140~160(천깔고)<br>
                            <img src="/img/ironing/withcloth140160.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="ironing" name="ironingType" value="IRONING_180_210_KR"/>180~210<br>
                            <img src="/img/ironing/180210.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="ironing" name="ironingType" value="IRONING_180_210_FABRIC_KR"/>180~210(천깔고)<br>
                            <img src="/img/ironing/withcloth180210.png">
                        </label>
                    </li>

                </ul>
            </div>
            <!-- 건조 카테고리 -->
            <div class="cate">
                <h3>4. 건조</h3>
                <ul>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_SUNNY_HANGER_KR"/>옷걸이(화창)<br>
                            <img src="/img/dry/hangsun.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_CLOUD_HANGER_KR"/>옷걸이(흐림)<br>
                            <img src="/img/dry/hang.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_SUNNY_DOWN_KR"/>눕혀서(화창)<br>
                            <img src="/img/dry/laysun.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_CLOUD_DOWN_KR"/>눕혀서(흐림)<br>
                            <img src="/img/dry/lay.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_BLOWER_KR"/>비틀기가능<br>
                            <img src="/img/dry/squeeze.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_BLOWER_FORBIDDEN_KR"/>비틀기불가<br>
                            <img src="/img/dry/nosqueeze.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_MACHINE_KR"/>건조기가능<br>
                            <img src="/img/dry/machine.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_MACHINE_FORBIDDEN_KR"/>건조기불가<br>
                            <img src="/img/dry/nomachine.png">
                        </label>
                    </li>

                </ul>
            </div>
            <!-- 드라이클리닝 카테고리 -->
            <div class="cate">
                <h3>5. 드라이클리닝</h3>
                <ul>
                    <li>
                        <label><input type="checkbox" class="dryCleaning" name="dryCleaning" value="DRY_CLEANING_KR"/>드라이클리닝<br>
                            <img src="/img/dryCleaning/can.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dryCleaning" name="dryCleaning" value="DRY_CLEANING_FORBIDDEN_KR"/>드라이클리닝불가<br>
                            <img src="/img/dryCleaning/no.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dryCleaning" name="dryCleaning" value="DRY_CLEANING_OIL_KR"/>석유계 드라이<br>
                            <img src="/img/dryCleaning/half.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dryCleaning" name="dryCleaning" value="DRY_CLEANING_SELF_FORBIDDEN_KR"/>셀프 드라이 불가<br>
                            <img src="/img/dryCleaning/noself.png">
                        </label>
                    </li>

                </ul>
            </div>

        </div>

        <!--미국-->
        <div class="category_america" id="con2" style="display: none">
            <div class="cate">
                <h3>1. 물세탁</h3>
                <ul>
                    <li>
                        <label><input type="checkbox" class="waterwash" name="waterType" value="HAND_USA"/>손세탁가능<br>
                            <img src="/img/waterwash/ame_handwash.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="waterwash" name="waterType" value="FORBIDDEN_USA"/>물세탁금지<br>
                            <img src="/img/waterwash/ame_no.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="waterwash" name="waterType" value="WASHER_USA"/>기계세탁가능<br>
                            <img src="/img/waterwash/ame_mac.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="waterwash" name="waterType" value="FORBIDDEN_BLOWER_USA"/>비틀기 금지<br>
                            <img src="/img/waterwash/ame_nosqueeze.png">
                        </label>
                    </li>

                </ul>
            </div>

            <!-- 표백 카테고리 -->
            <div class="cate">
                <h3>2. 표백</h3>
                <ul>
                    <li>
                        <label><input type="checkbox" class="bleach" name="bleachType" value="FORBIDDEN_USA"/>어떤 표백제도 불가<br>
                            <img src="/img/bleach/ame_no.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="bleach" name="bleachType" value="O2_COLOR_USA"/>비염소제와 색상보호 표백제만 가능<br>
                            <img src="/img/bleach/ame_half.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="bleach" name="bleachType" value="ALL_USA"/>모든 표백제 가능<br>
                            <img src="/img/bleach/ame_allbleach.png">
                        </label>
                    </li>

                </ul>
            </div>
            <!-- 다림질 카테고리 -->
            <div class="cate">
                <h3>3. 다림질</h3>
                <ul>
                    <li>
                        <label><input type="checkbox" class="ironing" name="ironingType" value="FORBIDDEN_USA"/>다림질불가<br>
                            <img src="/img/ironing/ame_no.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="ironing" name="ironingType" value="FORBIDDEN_STEAM_USA"/>스팀다리미불가<br>
                            <img src="/img/ironing/ame_steamno.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="ironing" name="ironingType" value="STEAM_USA"/>스팀다리미가능<br>
                            <img src="/img/ironing/ame_steam.png">
                        </label>
                    </li>

                </ul>
            </div>
            <!-- 건조 카테고리 -->
            <div class="cate">
                <h3>4. 건조</h3>
                <ul>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_MACHINE_USA"/>건조기 가능<br>
                            <img src="/img/dry/machine.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_MACHINE_FORBIDDEN_USA"/>건조기 불가<br>
                            <img src="/img/dry/ame_nomachine.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_WET_HANGER_USA"/>젖은 채로 줄이나 막내기에 널어서 건조<br>
                            <img src="/img/dry/ame_wetroap.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_HANGER_USA"/>줄에 널어서 건조<br>
                            <img src="/img/dry/ame_roap.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_DOWN_USA"/>평평하게 펴서 건조<br>
                            <img src="/img/dry/ame_flat.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_SHADE_USA"/>그늘에서 건조<br>
                            <img src="/img/dry/ame_gloomy.png">
                        </label>
                    </li>

                </ul>
            </div>
            <!-- 드라이클리닝 카테고리 -->
            <div class="cate">
                <h3>5. 드라이클리닝</h3>
                <ul>
                    <li>
                        <label><input type="checkbox" class="dryCleaning" name="dryCleaning" value="DRY_CLEANING_USA"/>드라이클리닝<br>
                            <img src="/img/dryCleaning/ame_dryCleaning.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dryCleaning" name="dryCleaning" value="DRY_CLEANING_FORBIDDEN_USA"/>드라이클리닝불가<br>
                            <img src="/img/dryCleaning/ame_no.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dryCleaning" name="dryCleaning" value="DRY_CLEANING_SHORT_USA"/>짧은 드라이클리닝<br>
                            <img src="/img/dryCleaning/ame_short.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dryCleaning" name="dryCleaning" value="DRY_CLEANING_LOW_HUMIDITY_USA"/>낮은 습도에서
                            드라이클리닝<br>
                            <img src="/img/dryCleaning/ame_lowmoi.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dryCleaning" name="dryCleaning" value="DRY_CLEANING_NOT_HOT_USA"/>열을 줄여서 드라이클리닝<br>
                            <img src="/img/dryCleaning/ame_lowheat.png">
                        </label>
                    </li>

                </ul>
            </div>
        </div>
        <!--일본-->
        <div class="category_japan" id="con3" style="display: none">
            <div class="cate">
                <h3>1. 물세탁</h3>
                <ul>
                    <li>
                        <label><input type="checkbox" class="waterwash" name="waterType" value="HAND_30_JP"/>30도 손세탁가능<br>
                            <img src="/img/waterwash/jap_30hand.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="waterwash" name="waterType" value="WASHER_95_JP"/>95도 세탁기가능<br>
                            <img src="/img/waterwash/jap_95mac.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="waterwash" name="waterType" value="HAND_WEAK_JP"/>약한 손세탁<br>
                            <img src="/img/waterwash/jap_light.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="waterwash" name="waterType" value="FORBIDDEN_BLOWER_JP"/>비틀기금지<br>
                            <img src="/img/waterwash/jap_nosqueeze.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="waterwash" name="waterType" value="FORBIDDEN_JP"/>물세탁금지<br>
                            <img src="/img/waterwash/jap_no.png">
                        </label>
                    </li>

                </ul>
            </div>

            <!-- 표백 카테고리 -->
            <div class="cate">
                <h3>2. 표백</h3>
                <ul>
                    <li>
                        <label><input type="checkbox" class="bleach" name="bleachType" value="FORBIDDEN_JP"/>어떤 표백제도 불가<br>
                            <img src="/img/bleach/jap_no.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="bleach" name="bleachType" value="ALL_JP"/>어떤 표백제도 가능<br>
                            <img src="/img/bleach/jap_can.png">
                        </label>
                    </li>

                </ul>
            </div>
            <!-- 다림질 카테고리 -->
            <div class="cate">
                <h3>3. 다림질</h3>
                <ul>
                    <li>
                        <label><input type="checkbox" class="ironing" name="ironingType" value="FORBIDDEN_JP"/>다림질불가<br>
                            <img src="/img/ironing/jap_no.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="ironing" name="ironingType" value="IRONING_80_120_JP"/>80~120<br>
                            <img src="/img/ironing/jap_to80120.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="ironing" name="ironingType" value="IRONING_140_160_JP"/>140~160<br>
                            <img src="/img/ironing/jap_to140160.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="ironing" name="ironingType" value="IRONING_180_210_JP"/>180~210<br>
                            <img src="/img/ironing/jap_to180210.png">
                        </label>
                    </li>

                </ul>
            </div>
            <!-- 건조 카테고리 -->
            <div class="cate">
                <h3>4. 건조</h3>
                <ul>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_HANGER_JP"/>옷걸이에 걸어서 건조<br>
                            <img src="/img/dry/jap_hang.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_CLOUD_HANGER_JP"/>옷걸이에 걸어서 건조(흐림)<br>
                            <img src="/img/dry/jap_hanggloomy.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_DOWN_JP"/>눕혀서 건조<br>
                            <img src="/img/dry/jap_lay.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dry" name="dryType" value="DRY_CLOUD_DOWN_JP"/>눕혀서 건조(흐림)<br>
                            <img src="/img/dry/jap_laygloomy.png">
                        </label>
                    </li>

                </ul>
            </div>
            <!-- 드라이클리닝 카테고리 -->
            <div class="cate">
                <h3>5. 드라이클리닝</h3>
                <ul>
                    <li>
                        <label><input type="checkbox" class="dryCleaning" name="dryCleaning" value="DRY_CLEANING_JP"/>드라이클리닝가능<br>
                            <img src="/img/dryCleaning/jap_can.png">
                        </label>
                    </li>
                    <li>
                        <label><input type="checkbox" class="dryCleaning" name="dryCleaning" value="DRY_CLEANING_FORBIDDEN_JP"/>드라이클리닝불가<br>
                            <img src="/img/dryCleaning/jap_no.png">
                        </label>
                    </li>

                </ul>
            </div>
        </div>

        <button type="submit" id="request_button">Save</button>
    </form>
</div>

</body>
</html>
