<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Detail Page</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/css/detail.css">
</head>
<body>
<div class="addcontent-wrapper">
    <div class="main-title">
        <h1>상세 조회</h1>
    </div>

    <div class="detail-view">
        <div class="title">
            <h4>제목</h4>
            <p>Boxing</textarea></p>
        </div>

        <div class="hint">
            <h4>부제목</h4>
            <p>hint 1</p>
        </div>

        <div class="content">
            <h4>내용</h4>
            <p>html 디자인 테스트 중입니다. </p>
        </div>

        <div class="update">
            <button type="button" value="수정" class="updatebtn">수정</button>
        </div>

        <div class="delete">
            <button type="button" value="삭제" class="deletebtn">삭제</button>
        </div>

        <div class="golist">
            <button type="button" value="조회" class="golistbtn" onclick = "location.href = '/admin/notify'">목록으로 돌아가기</button>
        </div>
    </div>


</div>

</body>
</html>
